<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.yaadafy" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".ReminderAddActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".users.Registration"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".users.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderEditActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".fragments.AddFriendActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ShareListActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".alarm.AlarmReceiver" />
        <receiver android:name=".alarm.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".appIntro.OnBoardScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/app_name">
        </activity>
        <service android:name=".StandardNotification">
        </service>
    </application>

</manifest>
